@keyframes openPopup{
 0% {opacity: 0;}
 100% {opacity:1;}
}

@keyframes closePopup{
    0% {opacity: 1;}
    100% {
        opacity:0;
     display: none;
    }
    
   }

@keyframes hoverCard{
    0% { transform: scale(1);
        background-color: var(--color-white);}
    100% { transform: scale(1.5);
        background-color: transparent;
    }
}
