.body{
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    background-color: var(--color-layt-green);
}

.main{
    flex: 1;
    display: flex;
}

.main__content{
    background-color: var(--text-color);
    padding-left: 5px;
    padding-right: 5px;
    flex:1;
}

.color_green{
    background-color: var(--color-green);
    padding:20px 5px;
}

.content{
   max-width: 1200px;
   margin: 0 auto;
}

.space_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link{
    color: currentColor;
    text-decoration: none;
}

.link:hover{
    color: var(--color-link-hover);
}

.link:active{
    color: var(--color-link-aktive);
}

.btn_hidden{
    display: none;
}

.btn_active{
    display: block;
}

.btn_block{
    pointer-events: none;
}

.btn_noBlock{
    pointer-events: auto;
}