
.form__div{
    display: flex;
    flex-direction: column;
    gap: 10px
}

.form__container{
    display: flex;
    flex-direction: column;
    gap: 10px

}

.btn-close{
    align-self: start;
    display: flex;
    justify-content: center;
}

.input__form{
    height: 20px;
}

.form__img{
    flex: 1;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.scrollBox{
    overflow: auto;
    height: 100%;
}

.form__textarea{
    height: 100%;
    resize: none;
    font: inherit;
}

.form__label{
    position: relative;
}

.form__checkbox{
    position: absolute;
    appearance: none;

}

.form__checkbox:hover~.form__fake-checkbox,
.form__checkbox:hover~.form__label {
    color: var(--color-link-hover);
}

.form__checkbox:checked~.form__fake-checkbox,
.form__checkbox:checked~.form__label {
    color: var(--color-blue);
}

.form__id{
    display: flex;
    pointer-events: none;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    align-items: center;
}