.popup-update-cat__content{
    max-width: 600px; 
}

.popup-update__form{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.popup-update__form-img{
    display: flex;
    flex-direction: column;
}

.no-event{
    pointer-events: none;
    background-color: var(--color-gray);
}