.popup{
    display: none;
    z-index: var(--popup-z);
}

.popup_active{
    display: flex;
    position: absolute;
    animation: openPopup 1s ease-in;
}

.popup__header{
    display: grid;
    grid-template-columns: 1fr 5%;
    text-align:  center;
    justify-content: center;
    
}